NET "blue"  LOC = "R11"  ;
NET "clk50_in"  LOC = "T9"  ;
NET "green"  LOC = "T12"  ;
NET "hs_out"  LOC = "R9"  ;
NET "red"  LOC = "R12"  ;
NET "vs_out"  LOC = "T10"  ;
NET "led"    LOC = "l12";
net "botonizq" loc = "n8";
net "botonder" loc ="l5";
net "botonAb" loc = "m4";
net "ledindica" loc = "n3";
net "ledCol1" loc = "p11";
net "ledCol2" loc = "p12";
net "ledCol3" loc = "n12";
net "ledCol4" loc = "p13";
